
.notificationItems {
    width: 300px;
}

.notificationList {
    max-height: 70vh;
    overflow-y: scroll;
}

.notificationList {
    // min-width: 300px;
    height: 80vh;
    overflow: scroll;
    min-width: 300px;
    max-width: 450px;
    background-color: var(--color-bg-default);
}