.listItem {
    align-items: flex-start;
    flex-direction: column;
    display: flex!important;
    position: relative;
    font-size: 14px;
    color: #212529;

    border-radius: 14px!important;
    margin-left: 5px!important;
    margin-right: 5px!important;
    padding: 5px!important;
    cursor: pointer;
    z-index: 1;
    &:hover {
        background: rgba(63, 140, 255, 0.12)!important;
    }
}

.selected {
    color: #0a1629!important;
}