.taskModal {
    padding: 34px!important;
    // padding-top: 34px!important;
    // padding-bottom: 34px!important;
    // padding-left: 50px!important;
    // padding-right: 50px!important;
    border-radius: 24px!important;
    position: relative;
    box-shadow: 0 6px 58px 0 rgba(121, 145, 173, 0.2)!important;
}

.taskModalDialog {
    min-width: 760px!important;
}

.modalTitle {
    font-weight: 700;
    font-size: 28px;
    color: #0a1629;
}

.modalDescription {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #000;
}

.currentValueContainer {
    border-bottom: 1px solid #c8c4cc;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.currentValueLabel {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
}

.actionContainer {
    display: flex;
    flex-direction: column;
}

.action {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.actionTitle {
    font-weight: 500;
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
}

.datePicker {
    --control-radius: 14px;
    width: 225px;
}

.pickerDropdown {
    z-index: 1055;
}

.label {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.71429;
    color: #7d8592;
    margin-bottom: 10px;
}

.respName {
    font-weight: 400;
    font-size: 14px;
    color: #0a1629;
    margin-right: 15px;
} 

.starValue {

    width: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    font-weight: 700;
    font-size: 10px;
    &.successValue {
        background-color: rgba(144, 193, 113, 1);
    }
}

.ratingContainer {
    margin-bottom: 30px;
}


.footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.footerBtn {
    height: 48px;
    
}

.submitBtn {
    box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
}

.intro {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;

    & > *:nth-child(1) {
        margin-right: 7px;
    }
}

.indicator {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-weight: 700;
    font-size: 14px;
    color: #91929e;
    border-radius: 50%;
    border: 1px solid #B3B8BF;
}

.description {
    display: flex;

    & .indicator {
        margin-right: 10px;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}