:root {
    --taskCard_BorderRadius: 24px;
    --taskCard_SecondaryColor: '';
    --taskCard_MainColor: '';
    --taskCard_DefaultFontSize: '';
    --taskCard_TitleFontSize: '';
}

.TaskCard {
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    height: 100vh;
}
.TaskCard__container {
    display: grid;
    grid-template-columns: 22.5% 77.5%;
}
.TaskCard__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 10px);
    border-radius: 24px;
    background: #fff;
    padding: 24px 12px 20px 8px;
    border: 1px solid #EAEAF1;
}
.TaskCard__content {
    height: calc(100vh - 10px);
    overflow: auto;
    border-radius: 24px;
    background: #fff;
    margin-left: 10px;
    padding: 20px;
    overflow: hidden;
}
.TaskCard__scroll {
    overflow: auto;
    height: calc(100% - (100% - fit-content));
    height: calc(100% - 89px); // 89 - общая высота кнопок и заголовка задачи
    // Фиксированное значение не должно ничего сломать так как название задачи 
    // состоит максимум из 64 символов и не будет перенесено на следующую строку
}
.TaskCard__share {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.TaskCard__tab {
    // display: none;
    min-height: calc(100vh - 10px);
    padding: 0;
    padding-right: 10px;
}
.TaskCard__tab_active {
    display: block;
}
.taskCard__tabHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}
/* .taskCard__tabHeader_onlyClose {
    justify-content: ;
} */

.taskCard__tabHeader_btnBack {
    font-weight: 600;
    font-size: 16px;
    color: #3f8cff;
    
}
.TaskCard__tabTitle {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;
}
.TaskCard__tabTitle_withBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TaskCard__EditBtn {
    width: 37px !important;
    height: 37px !important;
}
.TaskCard__itemData {
    margin-bottom: 20px;
}
.TaskCard__itemDataContent_flex {
    display: flex;
    align-items: center;
}
.TaskCard__itemDataLabel {
    font-size: 14px;
    color: #91929e;
    margin-bottom: 5px;
}
.TaskCard__row {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}
.TaskCard__row_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TaskCard__row_2col {
    grid-template-columns: repeat(2, 1fr);
}

.TaskCard__row_3col {
    grid-template-columns: repeat(3, 1fr);
}

.TaskCard__uploadFileArea {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background: #f2f4f7;
    padding: 8px;
    color: #98abc4;
    cursor: pointer;
}
.TaskCard__listFiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px 15px;
}
.TaskCard__cancelBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    color: #FF3F3F;
    font-size: 14px;
    opacity: 0.4;

    &:hover {
        opacity: 1;
    }
}

.TaskCard__cancelBtnIcon {
    margin-right: 18px;
}

.TaskCard__menuButton {
    background-color: #f2f3f3 !important;
    font-size: 16px;
    width: 100%;

    &:hover {
        background-color: #2a85ff !important;
        color: #fcfcfc;
    }
}

.TaskCard__menuButtonIcon {
    transition: all .15s ease-in-out;
}

.TaskCard__menuButton:hover > .TaskCard__menuButtonIcon {
    fill: #fcfcfc;
}

.TaskCard__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* tabNavItem */
.tabNavItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px;
    color: #7D8592;
    border-radius: 10px;
    cursor: pointer;
    transition: background .3s;
}
.tabNavItem:hover {
    background: #f4f9fd;
}
.tabNavItem_active {
    background: #f4f9fd;
    color: #3f8cff;
}
.tabNavItem_active::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -11px;
    width: 4px;
    height: calc(100% - 2px);
    background: #3f8cff;
    border-radius: 2px;
}    
.tabNavItem__icon {
    margin-right: 15px;
}
.tabNavItem__icon_active {
    display: none;
}
.tabNavItem_active .tabNavItem__icon_active {
    display: inline-block;
}
.tabNavItem_active .tabNavItem__icon:not(.tabNavItem__icon_active) {
    display: none;
}
.tabNavItem__title {
    font-size: 15px;
    margin-right: 15px;
}
.tabNavItem__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #FF3F3F;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    margin-left: auto;

    &_blue {
        background-color: #3f8cff;
    }
}


/* FileItem */
.FileItem {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'logo name'
                         'logo date'
                         'logo author';
    grid-gap: 0 14px;
    border: 1px solid rgba(239, 239, 239, 0.5);
    border-radius: 12px;
    padding: 10px;
}
.FileItem__logo {
    grid-area: logo;
}
.FileItem__logo img {
    width: 100%;
}
.FileItem__name {
    font-weight: 700;
    color: #0a1629;
    grid-area: name;
}
.FileItem__date {
    grid-area: date;
}
.FileItem__author {
    grid-area: author;
}
.FileItem__date,
.FileItem__author {
    font-size: 12px;
    color: #91929e;
}


/* ServiceMessage */
.ServiceMessage {
    margin-bottom: 20px;
    padding-right: 10px;
}
.ServiceMessage:last-child {
    margin-bottom: 0;
}
.ServiceMessages__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.ServiceMessages__author {
    display: flex;
    align-items: center;
}
.ServiceMessages__authorAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.ServiceMessages__authorName {
    font-weight: 700;
}
.ServiceMessages__date {
    font-size: 12px;
    color: #91929e;
}
.ServiceMessages__detail {
    padding-left: 55px;
    margin-bottom: 20px;
}
.ServiceMessages__detail:last-child {
    margin-bottom: 0;
}
.ServiceMessages__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0a1629;
    opacity: 0.7;
    margin-bottom: 5px;
}
.ServiceMessages__SolutionLabel {
    display: inline-block;
    box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
    padding: 3px 15px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    background: #3F8CFF;
}
.ServiceMessages__SolutionLabel_fail {
    background: #ff3f3f;
}
.ServiceMessages__SolutionLabel_success {
    background: #59c568;
}

.ServiceMessages__SolutionLabel_default {
    color: #3F8CFF;
    background: #F4F9FD;
}

.menuHr {
    width: calc(100% - 40px);
    height: 1px;
    background-color: #d8d8d8;
    margin-top: 20px;
    margin-left: 20px; 
    margin-right: 20px;
    margin-bottom: 20px;
}