.EditBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #f4f9fd;
    border: 1px solid #f4f9fd;
    width: 44px;
    height: 44px;
    border-radius: 14px;
}