.sidebar {
    width: 240px;
    
    height: 100vh;
    overflow: scroll;
    position: fixed;
}

.cont {
    background-color: var(--color-bg-default);
    height: 100%;
    position: relative;
    // height: 100vh;
    // overflow: scroll;
    // position: fixed;
}

// .sidebarContent {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     overflow: scroll;
// }

.sidebar::-webkit-scrollbar {
    width: 0;
}
