@import '../../../../app/assets/styles/colors.scss';

.block {
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
    padding: 15px;
}

.blockHeader {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(197, 197, 211, 0.30);
}

.blockTitle {
    color: rgba(36, 46, 57, 1);
    font-size: 20px;
    font-weight: 700;
}

.rightBlock {
    min-width: 20%;
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-column-gap: 10px;
    justify-content: space-between;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-right: 20%;
}

.userName {
    color: #ADADAD;
    font-size: 16px;
    font-weight: 700;
}

.bodyBlock {
    display: grid;
    grid-template-columns: 85% 14%;
    grid-column-gap: 1%;
    padding-top: 15px;
}