.taskModal {
    padding: 34px!important;
    // padding-top: 34px!important;
    // padding-bottom: 34px!important;
    // padding-left: 50px!important;
    // padding-right: 50px!important;
    border-radius: 24px!important;
    position: relative;
    box-shadow: 0 6px 58px 0 rgba(121, 145, 173, 0.2)!important;
}

.taskModalDialog {
    min-width: 760px!important;
}

.modalTitle {
    font-weight: 700;
    font-size: 28px;
    color: #0a1629;
}

.modalDescription {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #000;
    margin-bottom: 20px;
}

.infoContainer {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(115, 179, 255, 0.2);
}

.valuesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.valueLabel {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
}

.comment {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #000;
}

.label {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.71429;
    color: #7d8592;
}
 



.ratingContainer {
    margin-bottom: 30px;
}


.footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.footerBtn {
    height: 48px;
    
}

.submitBtn {
    box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
}