.avatar-group {
    padding-left: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.avatar-group .avatar-group-item {
    margin-left: -12px;
    border: 2px solid var(--vz-card-bg);
    border-radius: 50%;
    -webkit-transition: all .2s;
    cursor: pointer;
    transition: all .2s;
}

.avatar-group .avatar-group-item:hover {
    position: relative;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    z-index: 1;
}

.avatar-xxxs {
    width: 1rem;
    height: 1rem;
}

.avatar-xxs {
    height: 1.5rem;
    width: 1.5rem;
}

.avatar-xs {
    height: 2rem;
    width: 2rem;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4.5rem;
    width: 4.5rem;
}

.avatar-lg {
    height: 6rem;
    width: 6rem;
}

.avatar-xl {
    height: 7.5rem;
    width: 7.5rem;
}

.avatar-xxl {
    height: 11rem;
    width: 11rem;
}