.userBlock__block {
    position: relative;
    border-radius: 10px;
    background-color: rgba(38, 109, 240, 0.03);
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.firstRowContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2%;
    align-items: flex-start;
}


.userBlock__navigation-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blueUnderlineText {
    color: #4E8DF1;
    text-decoration: underline;
}

.secondRowContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2%;
}

.userBlock__left-border {
    height: 80px;
    width: 4px;
    border-radius: 2px;   
    margin-top: 10px;
}

.userBlock__border-success {
    background-color: #0ac947;
}

.userBlock__border-primary {
    background-color: #3F8CFF;
}


.userBlock__border-warning {
    background-color: #F29D38;
}
.userBlock_info-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.userBlock__block-title {
    font-weight: 700!important;
    font-size: 16px;
    line-height: 1.5;
    color: #0a1629;
    margin-bottom: 15px;
}

.userBlock__sumComplexity {
    background-color: #E2F2FF;
    padding: 8px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33333;
    color: #7d8592;
}

.userBlock__explanation {
    font-weight: 400;
    font-size: 14px;
    color: #91929e;
}

.userBlock__value {
    font-weight: 700;
    font-size: 36px;
    color: #0a1629;
}