.searchInput {
    background-color: white!important;
    border-radius: 6px!important;
    border: 1px solid #E0E2E9!important;
}

.checkboxContainer {
    font-weight: 400;
    font-size: 14px;
    color: #7d8592;
    cursor: pointer;
}