.scrollBtnContainer {
    position: fixed;
    
    bottom: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #E5F0FF;
    width: 48px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}