.card-bravo-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 25px;
    padding: 30px;
    width: 430px;
    height: 350px;
}

.card-bravo-auth__logo {
    margin-bottom: 15px;
}

.card-bravo-auth__desc {
    font-size: 13px;
    text-align: center;
    font-style: italic;
    color: #C5C5D3;
    margin-bottom: 30px;
}

.card-bravo-auth__container-btn {
    width: 200px;
    margin: 0 auto;
}