.title {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;
}

.titleIcon {
    color: rgba(65, 62, 84, 1);
    font-size: 20px;
    font-weight: 400;
    vertical-align: middle;
}

.subTitle {
    color: rgba(186, 176, 176, 1);
    font-size: 14px;
}