@import '../../../../../app/assets/styles/colors.scss';

.block {
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
    padding: 15px;
}

.blockTitle {
    color: rgba(36, 46, 57, 1);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}