@import '../../../../../app/assets/styles/colors.scss';

.item {
    width: 100%;
    display: grid;
    grid-template-columns: 12px calc(100% - 12px);
    background-color: $white;
}

.itemBorder {
    border-radius: 20px;
    width: 100%;
    height: 100%;

    &[data-level="1"] {
        background: #44DFC1;
    }

    &[data-level="2"] {
        background: #F8D445;
    }

    &[data-level="3"] {
        background: #FE6265;
    }
}

.contentContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.taskNameContainer {
    display: grid;
    grid-template-columns: 4px calc(100% - 4px);

    .taskNameBorder {
        border-radius: 20px;
        background: #9747FF;
        height: 100%;
    }
    
    .nameContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 27px;
        padding-right: 35px;
        // justify-content: center;
    }
    
    .taskSvgContainer {
        margin-right: 10px;
    }
    
    .title {
        color: rgba(0, 0, 0, 1);
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }
}

.mainContentContainer {
    padding-top: 12px;
    padding-bottom: 12px;
    display: grid;
    grid-template-columns: 70px calc(100% - 70px);

    .statusIconContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        i {
            font-size: 30px;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 80% 15%;
        justify-content: space-between;

        .title {
            width: 40%;
            color: rgba(0, 0, 0, 1);
            font-weight: 700;
            line-height: 18px;
            font-size: 16px;
        }

        .middleGridRow {
            margin-bottom: 15px;
            display: grid;
            grid-template-columns: 40% 50%;
            justify-content: space-between;
            align-items: end;
        }

        .descText {
            margin-right: 5px;
            font-size: 16px;
            color: rgba(0, 0, 0, 1);
        }

        .starList {
            span {
                margin-right: -0.8%;
            }
        }

        .progressBarContainer {
            width: 60%;
            max-width: 250px;
        }
    }

    .contentActionBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 20px;
        .likeBtn {
            color: rgba($brigth-warning, 1);
            transition: all 0.3s ease-in-out;
            font-size: 22px;
            line-height: 1;

            &:hover{
                color: rgba($brigth-warning, 0.5);
            }

            &:active{
                color: rgba($brigth-warning, 1);
            }
        }

        .dateContainer {
            i {
                color: #8B2CF5;
                vertical-align: middle;
                margin-right: 5px;
            }

            .date {
                font-size: 12px;
                color: #BAB0B0;
                line-height: 10px;
            }
        }
    }
}


.hiddenAvatars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(65, 62, 84, 1);
}
